html  {
  font:400 100%/150% Monserrat,Arial,Helvetica,sans-serif;
  }

*{
  box-sizing: border-box;
}

body {
  background-color: rgba(210, 219, 226,0.5);

}

/*********************** ENTETE ***********************/

#entete
{
  padding:5%;
  background:url(../images/interface/header.jpg) no-repeat center center; 
  background-size: cover;
  height:25vw;
 /* background-attachment: fixed; */
  margin-bottom: 1rem;
  min-height: 100%;
 }

#entete h1,.titre-form{
  display:none;
}

#logo img{
  display: block;
  margin-left: auto; 
  margin-top:0.5rem;
  width:30%;
  z-index: -1;
 
}

#entete2
{
  padding:5%;
  background:url(../images/interface/GoogleMymaps.PNG) no-repeat center center; 
  background-size: cover;
  height:25vw;
  margin-bottom: 1rem;
}

#entete3
{
  padding:5%;
  background:url(../images/panomarique/LacAuxDores2.jpg) no-repeat center center; 
  background-size: cover;
  height:25vw;
  margin-bottom: 1rem;
}

#entete_partenaires
{
  padding:5%;
  background:url(../images/panomarique/LacCavan.jpg) no-repeat center center; 
  background-size: cover;
  height:25vw;
  margin-bottom: 1rem;
}

#entete_region
{
  padding:5%;
  background:url(../images/panomarique/LacGwillim.jpg) no-repeat center center; 
  background-size: cover;
  height:25vw;
  margin-bottom: 1rem;
}

#entete_location
{
  padding:5%;
  background:url(../images/panomarique/Location.jpg) no-repeat center center; 
  background-size: cover;
  height:25vw;
  margin-bottom: 1rem;
}


/*********************** MAIN ***********************/

#meta-contenu{
  display: flex;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
 }

 #col1{
   width: 100%;
 }
 

 .banner {
  padding:10%;
  background-image:url("../images/interface/grimpeur.JPG");
  background-repeat:no-repeat;
  background-position: left;
  width:970px;
  height:90px;
  background-size:contain;
  border:solid;
  border-color:rgb(2, 108, 31);
  border-radius: 4 rem;
  border-width:5px;
  margin-top: 50px;
  margin-bottom: 200px;
  margin-right: 150px;
  margin-left: 190px;
  background-color: lightblue;
 text-align: center;
 font-size: 20px;
 }
/*********************** REGION ***********************/

.grid-container {
  display: flexgrid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
  background-color: #2196F3;
  padding: 10px;
  width: 80%;
  margin:auto;
}


.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  height:auto;
}


/*********************** CAROUSSEL ***********************/
#caroussel{
 display:flex;
 flex-direction: column;
 flex-wrap: wrap;
 text-align:left;
 flex-basis: 90%;
 align-items:stretch;

}

#caroussel,#fiche1,#fiche2,#fiche3,#fiche4,#fiche5,#fiche6,#fiche7{
  background:rgb(212, 222, 215);
  padding: 1rem;
  padding-left: 2rem;
  position:relative;
 }

#caroussel h4, #ficheactive {
  display:none;
}

#caroussel img{
  max-width: 100%;
  height: 400px;
  width: 700px;
  border-top-left-radius: 25px 50px;
  border-top-right-radius:25px 50px;
  border-bottom-left-radius:25px 50px;
  border-bottom-right-radius:25px 50px;
   
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  margin-top: 0px;
  padding: 0px;
  color: black;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  user-select: none;
  z-index:1;
}

.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev span, .next span{
display:none;
}


.prev:hover, .next:hover {
  color:#fff;
}


figure {
  display: flex;
  flex-flow: column;
  margin: auto;
  padding-bottom: 1rem;
}

figcaption {
  background-color: rgba(98, 124, 179,0.5);
  color: #fff;
  font: italic smaller sans-serif;
  padding: 10px;
  text-align: right;
  z-index: 1;
}

#dot_mother {
  text-align:center;
} 


.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
 }

/*********************** PAGE PARTENAIRES ***********************/

.partenaires img {
  width:40%;
  height:auto;
  border-radius: 5%;
}


/*********************** PAGE PRESENTATION ***********************/

.presentation {
  padding: 5%;
  display:flex;
 }

.bienvenue img {
  width:70%;
  height:auto;
  border-radius: 5%;
}

.bienvenue {
  width:100%;
  height:auto;
 }

 .auteur img {
  width:80%;
  height:auto;
  border-radius: 5%;
}

.presentation-texte h2{
margin-bottom: 3rem;
margin-top: 3rem;
text-decoration:underline;
}
.presentation-texte p{
  margin-bottom: 2rem;
}

.presentation-texte ul li{
  margin-bottom: 2rem;
}
/*********************** PAGE PARCOURS ***********************/

.parcours img {
  width:10%;
  height:auto;
  border-radius: 5%;
}

.parcours {
  width:80%;
  height:auto;
 }


/*********************** NEXT EVENT ***********************/
.next-event {

 margin: 0 auto;
 margin-top:5rem;
 margin-bottom:5rem;
}


/*********************** FOOTER ***********************/

footer{
  padding:32px;
}

.media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}
.media .content {
  flex: 1;
  padding: 10px;
  align-items: flex-end;
}

.adresse {
  display:none;
}

/* ***** MEDIA SCREEN ***** */


@media screen and (max-width:768px) {

  #caroussel,#fiche1,#fiche2,#fiche3,#fiche4,#fiche5,#fiche6,#fiche7{
      padding-left: 1rem;
   }

  #entete,#entete2,#entete3,#entete_region,#entete_location,#entete_partenaires,.accroche,.desc,.prev,.next,.banner{
    display:none;
  }

    #meta-contenu {
      margin-top: 4rem;
    
    }

    #img_droite {
      display:block;
    }
    #img_gauche {
      display:none;
    }

    #caroussel img{
      max-width: 100%;
    /*   height: 400px;*/
   /*   width: 350px; */
      height: 100%;
      width: 100%;
      border-top-left-radius: 25px 25px;
      border-top-right-radius:25px 25px;
      border-bottom-left-radius:25px 25px;
      border-bottom-right-radius:25px 25px; 
      display: block;
      margin: 10px auto;
    
    }

}


/*********************** COMPORTEMENT TAILLE AFFICHAGE min-width:768px***********************/

 @media screen and (min-width:768px) {
  .lien {
    display:flex;
  }
  .lien li:last-of-type{
     margin-left: auto;
 }

 .lien>li{
   position:relative;
   padding:0 1rem;
 }


#carroussel {
  margin-bottom: 0;
  padding-bottom: 0;
  }

#caroussel div div{
  position:relative;
}

.accroche{
  position:absolute;
  top: -520px;
  left: 40rem;
  height: 50px;
  font-size:xx-large;
  color:#fff;
  }

  #entete,#entete2,#entete3,#entete_location,#entete_region,#entete_partenaires,.accroche,.desc,.prev,.next{
    display:block;
  }

  #img_droite {
    display:none;
  }
  #img_gauche {
    display:block;
  }
} 



/*********************** button parcours ***********************/
.button-22 {
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006AE8;
}

.button-22:hover {
  background-color: #1C84FF;
}